


nz-collapse {
    margin: 0;
    background-color:whitesmoke;
    border-radius: 25px;
}

.panel-box {
    background-color:white;
    padding: 10px;
}

nz-radio-group {
    margin-bottom: 8px;
  }

.justifyText {
        text-align: justify;
        text-justify: inter-word;
}

